.cta {
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  line-height: 80%;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.25s ease-in-out,
    background-position 0.25s ease-in-out;
  animation: none;
  display: flex;

  &.--is-size-small {
    padding: var(--space-2) var(--space-4);
    padding-top: calc(
      var(--space-2) + var(--space-1) / 2
    ); /* To fix gap in the font. */
  }

  &.--is-size-large {
    padding: var(--space-3) var(--space-5);
    padding-top: calc(
      var(--space-3) + var(--space-1) / 2
    ); /* To fix gap in the font. */
  }

  &.--is-color-magenta {
    background-image: var(--gradient-magenta);
    background-size: 210% auto;
    background-position: 50% 0%;

    &:hover {
      background-position: 100% 0;
      box-shadow: 0 0 30px 5px var(--color-magenta-d2);
    }

    &:active {
      background-position: 0 0;
      box-shadow: 0 0 100px 5px var(--color-magenta-d2);
    }
  }

  &.--is-color-cyan {
    background-image: var(--gradient-cyan);
    background-size: 200% auto;
    background-position: 50% 0%;

    &:hover {
      background-position: 100% 0;
      box-shadow: 0 0 30px 5px var(--color-cyan-d2);
    }

    &:active {
      background-position: 0 0;
      box-shadow: 0 0 100px 5px var(--color-cyan-d2);
    }
  }

  &.--is-color-violet {
    background-image: var(--gradient-violet);
    background-size: 200% auto;
    background-position: 50% 0%;

    &:hover {
      background-position: 100% 0;
      box-shadow: 0 0 30px 5px var(--color-violet-d2);
    }

    &:active {
      background-position: 0 0;
      box-shadow: 0 0 100px 5px var(--color-violet-d2);
    }
  }

  .cta__icon {
    margin-left: var(--space-2);
  }
}
