---
import Blob1 from "@assets/blob1.svg?raw"
import PageBaseLayout from "@layouts/PageBaseLayout.astro"
---

<PageBaseLayout title="A">
  <h1>Astro</h1>
  <Fragment set:html={Blob1} />
</PageBaseLayout>
