---
import PageBaseLayout from "@layouts/PageBaseLayout.astro"
---

<PageBaseLayout title="Test">
  <h1>Test</h1>
  <p>Test text</p>
</PageBaseLayout>

<style>
  h1 {
    color: var(--color-blue);
  }

  p {
    color: var(--color-green);
  }
</style>
