<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Leonel Aguirre
    script(src="https://kit.fontawesome.com/aed31f57e0.js" crossorigin="anonymous")
    link(rel="icon" type="image/png" href="https://img.icons8.com/emoji/48/000000/rocket-emji.png")
  body
    section#Home
      div#MainMessage
        span Hola, mi nombre es <span> Leonel Aguirre</span>.<br> Soy desarrollador web.
        br
        a(href='#About') Conóceme
    div.separator.separator-type-2.desktop-hidden
        div.spikes
        div.bar
    div#NavBarContainer.navbar-hidden
      nav#NavBar
        ul
          li 
            a(href='#Home') INICIO
          li 
            a(href='#About') ACERCA DE MI
          li 
            a(href='#Skills') HABILIDADES
          li 
            a(href='#Portfolio') PORTAFOLIO
          li 
            a(href='#Contact') CONTACTO
      div#NavBarTab
        i(class="fas fa-chevron-down")
    div#NavBarOffset
    section#About
      div.section-container
        //- div#AboutImage.mobile-hidden
        //-   img(src="https://ouch-cdn.icons8.com/preview/427/81f3e497-5fdb-4b3b-9acd-9fc0b656e030.png")
        div#AboutDescription
          h1.title Acerca de mi
          //- img#AboutImage.desktop-hidden(src="https://ouch-cdn.icons8.com/preview/427/81f3e497-5fdb-4b3b-9acd-9fc0b656e030.png")
          p.paragraph Soy un desarrollador web amateur de 22 años, actualmente estoy estudiando la carrera de Ingeniería en Sistemas Computacionales en el Instituto Tecnológico de León. Me apasiona el desarrollo de software, ya que me permite modelar mis ideas para conseguir resultados impresionantes, mi constante curiosidad hacia como funciona mi entorno me ayuda a siempre mantenerme aprendiendo nuevas cosas. Me considero como una persona con la capacidad de adaptarse a nuevos entornos, identificando mis áreas de oportunidad y tratando de corregirlas.
          a#CVLink(target="_blank") Descarga mi CV
    section#Skills
      div.separator.separator-type-1
        div.bar
        div.spikes
      div.section-container.grid-two-columns
        h1.title.onecolumn Habilidades
        p.paragraph.onecolumn Estas son algunas de mis habilidades.
        div#ChartContainer.onecolumn
            div(id='BubbleChart')
            div(id='BarChart')
      div.separator.separator-type-2
        div.spikes
        div.bar
    section#Portfolio
      div.section-container
        h1.title Portafolio
        p.paragraph Estos son algunos de mis proyectos.
        div#Cards
    section#Contact
      div.separator.separator-type-1
        div.bar
        div.spikes
      div.section-container
        h1.title Contacto
        p.paragraph Escribeme un mensaje.
        form.email-form
          label(for="contact-name") Nombre: 
          input(type='text', name="contact-name" id="NameInput")
          label(for="contact-email") Correo Electronico: 
          input(type="email", name="contact-email" id="EmailInput")
          label(for="contact-message") Mensaje: 
          textarea(name="contact-message", cols="30", rows="10" id="MessageInput")
          button(type="button" id="MailFormButton") ENVIAR
      div.separator.separator-type-2
        div.spikes
        div.bar
    footer#Footer Designed and built by <a href="https://github.com/NoisyApple" target="_blank">Leonel Aguirre</a>, 2020.
    div(id="Modal" class="modal-container sticky modal-hidden")
      div.modal-box
        div.modal-icon
          i(class="fas fa-paper-plane")
        div.modal-message
          p Tu mensaje ha sido enviado exitosamente! <br> Te responderé pronto!
        div.modal-button
          button(id="ModalDisposeButton") OK

