<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Personal Page
  body
    section#Home
      div#MainMessage
        span Hola, mi nombre es <span> Leonel Aguirre</span>.<br> Soy desarrollador web.
        br
        a(href='#About') Mira mi trabajo
    nav#NavBar
      ul
        li 
          a(href='#Home') INICIO
        li 
          a(href='#About') ACERCA DE
        li 
          a(href='#Portfolio') PORTAFOLIO
        li 
          a(href='#Contact') CONTACTO
    section#About
    section#Portfolio
    section#Contact
      

