<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Personal Page
  body
    #mainContainer
      span Hola, mi nombre es <span> Leonel Aguirre</span>.<br> Soy desarrollador web.
      br
      button Mira mi trabajo
