<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Personal Page
    script(src="https://kit.fontawesome.com/aed31f57e0.js" crossorigin="anonymous")
  body
    section#Home
      div#MainMessage
        span Hola, mi nombre es <span> Leonel Aguirre</span>.<br> Soy desarrollador web.
        br
        a(href='#About') Mira mi trabajo
    div#NavBarContainer.navbar-hidden
      nav#NavBar
        ul
          li 
            a(href='#Home') INICIO
          li 
            a(href='#About') ACERCA DE
          li 
            a(href='#Technologies') TECNOLOGIAS
          li 
            a(href='#Portfolio') PORTAFOLIO
          li 
            a(href='#Contact') CONTACTO
      div#NavBarTab
        i(class="fas fa-chevron-down")
    div#NavBarOffset
    section#About
      div.section-container.grid-two-columns
        h1.title Acerca de
        div#AboutImage
          img(src="https://firebasestorage.googleapis.com/v0/b/personal-web-a99ce.appspot.com/o/ginger-cat-65.svg?alt=media&token=f2a7e67e-7d3c-40e7-8436-41ca63c27448")
        div#AboutDescription
          h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque in perferendis officiis voluptas iure ipsam vero ratione atque accusantium, totam consequuntur voluptatem animi? Nostrum explicabo commodi saepe a voluptatum assumenda voluptatibus omnis, aliquam ipsam corrupti eaque dolore ut officia voluptate quasi ipsum nobis qui quia, totam temporibus. Officia reiciendis explicabo maxime eveniet repudiandae ducimus mollitia esse soluta amet, vero architecto, harum autem repellendus culpa, a non laudantium fugit illum eius quos ea optio. Eius fugiat nulla veniam explicabo perspiciatis, sapiente autem nam quasi corporis vel dolores ducimus non nostrum, temporibus facilis. Magni iste totam voluptates.
    section#Technologies
      div.section-container.grid-two-columns
        h1.title Tecnologias
        div#ChartContainer
            div(id='BubbleChart')
            div(id='BarChart')
    section#Portfolio
      div.portfolio-container
        h1.title Portafolio
        div#Cards
    section#Contact
      div.contact-container
        h1.title Contacto
        p.paragraph Escribeme:
        form.email-form
          label(for="contact-name") Nombre: 
          input(type='text', name="contact-name" id="NameInput")
          label(for="contact-email") Correo Electronico: 
          input(type="email", name="contact-email" id="EmailInput")
          label(for="contact-message") Mensaje: 
          textarea(name="contact-message", cols="30", rows="10" id="MessageInput")
          button(type="button" id="MailFormButton") ENVIAR
