@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

$darkergray: #232931;
$lightergray: #393e46;
$almostWhite: #ddd;
$highlight-blue: #00cc99;
$highlight-pink: #ea486e;
$highlight-purple: #9067c6;

canvas {
  display: block;
}

body {
  margin: 0;
  // overflow-x: hidden;
  background-color: #001011;
  font-family: "Oxygen", sans-serif;
}

* {
  scroll-behavior: smooth;
}

.email-form {
  display: flex;
  flex-direction: column;
  margin: 0 20%;

  label {
    color: $almostWhite;
    padding-bottom: 3px;
    font-family: "Oxygen", sans-serif;
  }

  input {
    margin-bottom: 10px;
    background-color: #fff8;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
  }

  textarea {
    margin-bottom: 10px;
    background-color: #fff8;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
  }

  button {
    background-color: $highlight-blue;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
  }

  button:hover {
    background-color: darken($highlight-blue, 5);
  }

  button:active {
    background-color: darken($highlight-blue, 10);
  }
}

.paragraph {
  text-align: center;
  font-size: 2em;
  color: $almostWhite;
}

.project-card {
  display: flex;
  flex-direction: column;
  background: teal;
  border-radius: 10px;
}

#CardsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  padding: 50px;
}

.card-top {
  background: #fff2;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  font-weight: bold;
  font-size: 2em;
}

.card-center {
  flex: 1;
}

.card-bottom {
  background: #fff2;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.card-center > img {
  width: 100%;
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 10px;
}

.nav-selected {
  color: $highlight-purple !important;
}

.rotate180 {
  transform: rotate(180deg);
}

.navbar-hidden {
  top: -142px;
}

.section-container {
  padding: 55px 10px;
  // grid-template-columns: 40% 60%;

  .title {
    color: $highlight-blue;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  div {
    img {
      max-width: 100%;
      height: auto;
    }

    h1 {
      color: white;
      text-align: center;
      font-size: 1em;
      padding: 0 15px 30px 15px;
    }
  }
}

#Home {
  background: linear-gradient(#001011, #49375a);
}

#About {
  background: $darkergray;
}

#Technologies {
  background: $lightergray;
}

#Portfolio {
  background: $darkergray;
}

#Contact {
  background: $lightergray;
}

#MainMessage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 90%;
}

#MainMessage > span {
  font-size: 1.2em;
  text-align: center;
}

#MainMessage > span > span {
  color: $highlight-blue;
  font-weight: bolder;
}

#MainMessage > a {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  font-size: 1.2em;
  background-color: transparent;
  font-weight: bold;
  line-height: 28px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid white;
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#NavBarContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: top 1s;
  z-index: 10;
}

#NavBar {
  background: transparentize($highlight-purple, 0.7);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  padding: 8px;
  text-align: center;
  color: white;
  align-self: stretch;
  z-index: 10;

  li {
    a {
      font-size: 1.2em;
      font-weight: bold;
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: lighten($highlight-purple, 10) !important;
    }
  }
}

#NavBarTab {
  background: $almostWhite;
  color: $lightergray;
  border-radius: 0 0 10px 10px;
  padding: 2.5px 10px 0 10px;
  width: 50px;
  text-align: center;

  svg {
    width: 20px;
    transition: transform 0.25s linear;
  }
}

#AboutImage {
  display: flex;
  justify-content: center;

  // img {
  //   filter: hue-rotate(174deg);
  // }
}

.grid-two-columns {
  display: grid;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

@media only screen and (min-width: 768px) {
  .section-container {
    h1,
    #ChartContainer {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    div {
      img {
        border-radius: 100%;
        max-width: 50%;
        height: auto;
        margin: 0 100px;
      }

      h1 {
        padding: 0 50px 0 0;
        text-align: justify;
        font-size: 1.5em;
      }
    }
  }

  #ChartContainer {
    display: flex;
    flex-direction: row-inverse;
  }

  #MainMessage > span {
    font-size: 3em;
  }

  #NavBar {
    background: $lightergray;

    ul {
      padding-left: 20px;
      display: flex;
      flex-direction: row;

      li:not(:last-child)::after {
        content: "";
        margin: 0 10px;
        border-right: 3px solid #232931;
      }
    }
  }

  #NavBarTab {
    display: none;
  }
}
