@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap");

$darkergray: #3a3a50;
$lightergray: #545454;
$almostWhite: #ddd;
$highlight-blue: #60ffc4;
$highlight-pink: #ffeb3b;
$highlight-purple: #60ffc4;

canvas {
  display: block;
}

body {
  margin: 0;
  // overflow-x: hidden;
  background-color: #000919;
  font-family: "Oxygen", sans-serif;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.email-form {
  display: flex;
  flex-direction: column;

  label {
    color: $almostWhite;
    padding-bottom: 3px;
    font-family: "Oxygen", sans-serif;
  }

  input {
    margin-bottom: 10px;
    background-color: #fff8;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
  }

  textarea {
    margin-bottom: 10px;
    background-color: #fff8;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
  }

  button {
    background-color: $highlight-blue;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
  }

  button:hover {
    background-color: darken($highlight-blue, 5);
  }

  button:active {
    background-color: darken($highlight-blue, 10);
  }
}

// PROJECT CARDS

.project-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: teal;
  border-radius: 10px;
  height: 500px;
  box-shadow: 2px 2px 5px #0008;
}

#CardsContainer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 5px;
}

.card-title {
  background: #0002;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  font-weight: bold;
  font-size: 2vw;
}

.card-image {
  flex: 1;
  display: inline-block;
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: cover;
}

/* .card-description{
  display: flex;
  flex-direction: column;
}
 */
.description-toggler {
  padding: 10px;
  font-weight: bold;
  background: #0004;
  width: 100%;
  border: 0;
  outline: 0;
  text-transform: capitalize;
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.description-toggler:hover {
  background: #0003;
}

.description-toggler:active {
  background: #0005;
}

.description {
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.3s;
  height: auto;
}

.description > p {
  margin: 10px;
}

.collapsed {
  height: 0 !important;
}

.card-links {
  display: flex;
  /*   height: 20%; */
  place-content: flex-end;
  font-size: 20px;
  background: #0002;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.card-links > a {
  margin-left: 5px;
  color: #000a;
}

.card-links > a:hover {
  color: #000e;
}

.card-image > img {
  width: 100%;
  height: 100%;
}

// PROJECT CARDS

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 10px;
}

.nav-selected {
  color: $highlight-purple !important;
}

.rotate180 {
  transform: rotate(180deg);
}

.navbar-hidden {
  top: -142px;
}

// MODAL

.modal-hidden {
  visibility: hidden;
  opacity: 0;
}

.modal-container {
  z-index: 15;
  width: 100%;
  height: 100vh;
  background: #0008;
}

.modal-box {
  background: $highlight-purple;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  filter: drop-shadow(5px 5px 4px #3338);
  width: 80%;
  div {
    text-align: center;
    color: #222;
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  2% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  4% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  6% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  8% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  10% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  12% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  14% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  16% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  18% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  20%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

#ModalDisposeButton {
  width: 100%;
  background-color: $highlight-pink;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  padding: 10px;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  filter: drop-shadow(5px 5px 4px #3338);
}

#ModalDisposeButton:hover {
  background-color: darken($highlight-pink, 5);
}

#ModalDisposeButton:active {
  background-color: darken($highlight-pink, 10);
}

.modal-message {
  font-weight: bold;
  filter: drop-shadow(5px 5px 4px #3338);
}

.modal-icon {
  font-size: 55px;
  filter: drop-shadow(5px 5px 4px #3338);
  animation: ring 5s linear infinite;
}

// MODAL

.title {
  color: #3bffb7;
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  font-family: "Baloo Chettan 2", cursive;
}

#Home {
  background: linear-gradient(#000000, #000919);
}

.separator {
  div {
    background: $darkergray;
    height: 15px;
  }
}

.separator.separator-type-1 {
  filter: drop-shadow(0px 9px 4px #222);
}

.separator.separator-type-2 {
  filter: drop-shadow(0px -9px 4px #222);
}

#Skills {
  background: $lightergray;
}

#Portfolio {
  background: $darkergray;
}

#Contact {
  background: $lightergray;
}

#Footer {
  background: $darkergray;
  text-align: center;
  padding: 0 10px 20px 10px;
  color: $almostWhite;

  a {
    color: $highlight-purple;
  }
}

#MainMessage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 90%;
}

#MainMessage > span {
  font-size: 1.2em;
  text-align: center;
}

#MainMessage > span > span {
  color: $highlight-blue;
  font-weight: bolder;
}

#MainMessage > a {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  font-size: 1.2em;
  background-color: transparent;
  font-weight: bold;
  line-height: 28px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid white;
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#NavBarContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: top 1s;
  z-index: 10;
}

#NavBar {
  background: transparentize($highlight-purple, 0.7);

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  padding: 8px;
  text-align: center;
  color: white;
  align-self: stretch;
  z-index: 10;

  li {
    a {
      font-size: 1.2em;
      font-weight: bold;
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: lighten($highlight-purple, 10) !important;
    }
  }
}

#NavBarTab {
  background: $almostWhite;
  color: $lightergray;
  border-radius: 0 0 10px 10px;
  padding: 2.5px 10px 0 10px;
  width: 50px;
  text-align: center;

  i {
    margin: 2.5px 0;
    font-size: 20px;
    width: 20px;
    transition: transform 0.25s linear;
  }
}

.grid-two-columns {
  display: grid;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.section-container {
  padding: 40px 20px;
  // grid-template-columns: 40% 60%;

  div {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.paragraph {
  text-align: center;
  font-size: 1em;

  font-weight: bold;
  color: white;
}

#About {
  background: $darkergray;

  .section-container {
    display: flex;
    flex-direction: column;
  }

  .title {
    text-align: center;
  }

  #AboutDescription {
    width: auto;
    padding: 0;

    img {
      padding: 0 50px 20px 50px;
    }
  }
}

.mobile-hidden {
  display: none;
}

.onecolumn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.separator.separator-type-2.desktop-hidden {
  filter: none;
}

//////////////// DESKTOP STYLES ////////////////
//////////////// DESKTOP STYLES ////////////////
//////////////// DESKTOP STYLES ////////////////
//////////////// DESKTOP STYLES ////////////////
//////////////// DESKTOP STYLES ////////////////

@media only screen and (min-width: 768px) {
  .title {
    font-size: 3em;
  }

  .paragraph {
    font-size: 1.5em;
  }

  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

  #About {
    .section-container {
      padding: 60px 90px;
      flex-direction: row;
    }

    .paragraph {
      text-align: left;
    }

    #AboutDescription {
      order: 1;

      padding-right: 100px;
      width: 75%;
    }

    #AboutImage {
      order: 2;

      flex: 1;

      img {
        width: 100%;
      }
    }

    .title {
      text-align: left;
    }
  }

  .portfolio-container {
    padding: 55px 20px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    padding: 55px 10px;
  }

  .section-container {
    padding: 60px;
    // grid-template-columns: 40% 60%;
  }

  #ChartContainer {
    display: flex;
    flex-direction: row-inverse;
  }

  #MainMessage > span {
    font-size: 3em;
  }

  #NavBar {
    background: #242531;
    filter: drop-shadow(0px 3px 4px #222);

    ul {
      padding-left: 20px;
      display: flex;
      flex-direction: row;

      li:not(:last-child)::after {
        content: "";
        margin: 0 10px;
        border-right: 3px solid #232931;
      }
    }
  }

  #NavBarTab {
    display: none;
  }

  #CardsContainer {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .email-form {
    margin: 0 20%;
  }

  .modal-box {
    width: auto;
  }
}
