@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(#001011, #150920);
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: "Oxygen", sans-serif;
}

canvas {
  position: fixed;
}

#mainContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  text-align: center;
  width: 90%;
}

#mainContainer > span {
  font-size: 1.2em;
  text-align: center;
}

#mainContainer > span > span {
  // color: #3cbbb1;
  color: #00cc99;
  font-weight: bolder;
}

#mainContainer > button {
  margin-top: 20px;
  font-size: 1.2em;
  border: none;
  background-color: transparent;
  font-weight: bold;
  line-height: 28px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid white;
}

@media only screen and (min-width: 768px) {
  #mainContainer > span {
    font-size: 3em;
  }
}
